In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# how to read csv file?

In [2]:
pm=pd.read_csv("C:/Users/admin/Downloads/Pokemon.csv")

In [3]:
pm

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# find 1st & last 5 rows ?

In [3]:
pm.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
pm.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# check the columns for Data Frame?

In [5]:
pm.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

# Check the shape of the DataFrame (rows, columns)?

In [6]:
pm.shape

(800, 13)

# check statistical information about the dataframe?

In [7]:
pm.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

# How many PokÃ©mon are legendary?

In [8]:
legendary_pm=pm['Legendary'].value_counts()

In [12]:
legendary_pm

False    735
True      65
Name: Legendary, dtype: int64

# Legendary PokÃ©mon by type?

In [9]:
legendary_by_type=pm[pm['Legendary']==True].groupby('Type 1').size()

In [20]:
legendary_by_type

Type 1
Dark         2
Dragon      12
Electric     4
Fairy        1
Fire         5
Flying       2
Ghost        2
Grass        3
Ground       4
Ice          2
Normal       2
Psychic     14
Rock         4
Steel        4
Water        4
dtype: int64

In [10]:
legendary_by_type=pm[pm['Legendary']==True].groupby('Type 2').size()

In [22]:
legendary_by_type

Type 2
Dark         1
Dragon       4
Electric     1
Fairy        2
Fighting     4
Fire         3
Flying      13
Ghost        1
Ground       1
Ice          3
Psychic      5
Steel        1
Water        1
dtype: int64

# Legendary PokÃ©mon by fighter stats?

In [11]:
fighter_stats=pm[(pm['Legendary'])][['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']]

In [30]:
fighter_stats

      HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
156   90      85      100       95      125     85
157   90      90       85      125       90    100
158   90     100       90      125       85     90
162  106     110       90      154       90    130
163  106     190      100      154      100    130
..   ...     ...      ...      ...      ...    ...
795   50     100      150      100      150     50
796   50     160      110      160      110    110
797   80     110       60      150      130     70
798   80     160       60      170      130     80
799   80     110      120      130       90     70

[65 rows x 6 columns]

# Cleaning the dataset?

In [12]:
pm.fillna("NA",inplace=True)

In [35]:
pm

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NA,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# How are Pokemon numbers distributed across generations?

In [13]:
pm_distribution=pm.groupby('Generation').size()

In [37]:
pm_distribution

Generation
1    166
2    106
3    160
4    121
5    165
6     82
dtype: int64

# What are the most common types of Pokemon?

In [14]:
pm_types=pm['Type 1'].value_counts()

In [39]:
print(pm_types.head())

Water      112
Normal      98
Grass       70
Bug         69
Psychic     57
Name: Type 1, dtype: int64

In [15]:
pm_types=pm['Type 2'].value_counts()

In [41]:
print(pm_types.head())

NA         386
Flying      97
Ground      35
Poison      34
Psychic     33
Name: Type 2, dtype: int64

# What are the strongest and weakest Pokemon species?

In [16]:
strongest_pm=pm.sort_values(by='Total',ascending=False).head()

In [47]:
strongest_pm

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
164,150,MewtwoMega Mewtwo Y,Psychic,NA,780,106,150,70,194,120,140,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
422,382,KyogrePrimal Kyogre,Water,NA,770,100,150,90,180,160,90,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True

In [33]:
weakest_pm=pm.sort_values(by='Total',ascending=True).head()

In [49]:
weakest_pm

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
206,191,Sunkern,Grass,NA,180,30,30,30,30,30,30,2,False
322,298,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False
446,401,Kricketot,Bug,NA,194,37,25,41,25,41,25,4,False
288,265,Wurmple,Bug,NA,195,45,45,35,20,30,20,3,False
16,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False

# What are the strongest and weakest types of Pokemon?

In [36]:
strongest_type=pm.groupby('Type 1')['Total'].max()

In [37]:
strongest_type

Type 1
Bug         600
Dark        680
Dragon      780
Electric    610
Fairy       680
Fighting    625
Fire        680
Flying      580
Ghost       680
Grass       630
Ground      770
Ice         580
Normal      720
Poison      535
Psychic     780
Rock        700
Steel       700
Water       770
Name: Total, dtype: int64

In [38]:
weakest_type=pm.groupby('Type 2')['Total'].max()

In [39]:
weakest_type

Type 2
Bug         495
Dark        700
Dragon      680
Electric    680
Fairy       700
Fighting    780
Fire        770
Flying      780
Ghost       600
Grass       600
Ground      700
Ice         700
NA          780
Normal      507
Poison      625
Psychic     700
Rock        535
Steel       625
Water       600
Name: Total, dtype: int64

# Do any types of Pokemon excel at certain statistics over others?

# Are any of the statistics correlated?

In [27]:
columns=['Total','HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']

In [28]:
correlation_matrix=pm[columns].corr()

In [29]:
correlation_matrix

            Total        HP    Attack   Defense   Sp. Atk   Sp. Def     Speed
Total    1.000000  0.618748  0.736211  0.612787  0.747250  0.717609  0.575943
HP       0.618748  1.000000  0.422386  0.239622  0.362380  0.378718  0.175952
Attack   0.736211  0.422386  1.000000  0.438687  0.396362  0.263990  0.381240
Defense  0.612787  0.239622  0.438687  1.000000  0.223549  0.510747  0.015227
Sp. Atk  0.747250  0.362380  0.396362  0.223549  1.000000  0.506121  0.473018
Sp. Def  0.717609  0.378718  0.263990  0.510747  0.506121  1.000000  0.259133
Speed    0.575943  0.175952  0.381240  0.015227  0.473018  0.259133  1.000000

# Create a training/test split?

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
train_data,test_data=train_test_split(pm,test_size=0.2,random_state=42)

In [43]:
print('Train data shape:',train_data.shape)

Train data shape: (640, 13)

In [44]:
print('Test data shape:',test_data.shape)

Test data shape: (160, 13)

# split data int Train and model sets?

In [45]:
train_data,model_data=train_test_split(pm,test_size=0.2,random_state=42)

In [46]:
print('Train data shape:',train_data.shape)

Train data shape: (640, 13)

In [47]:
print('Model data shape:',model_data.shape)

Model data shape: (160, 13)